body,h1,h2,h3,h4,h5,p,ul,li,ol,dt,tt,form,table,hr,form,input,textarea,th,td,select,figure,figcaption{
    padding: 0px;
    margin: 0px;
}
article,aside,canvas,details,footer,header,hgroup,menu,nav,section,summary{
    display:block;
    }
li{
    list-style: none;
}
a{
    text-decoration: none;
}
em{
    font-style: normal;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0px;
    overflow: hidden;
    visibility:hidden;
    clear:both;
    zoom:1;
}
img{
    display: block;
    border: 0 none;
    vertical-align: baseline;
}
table{
    border-collapse: collapse;
    }

textarea{
    resize: none;
    overflow: hidden;
}
*{
    box-sizing:border-box;
}
