.pingjia_main{
    flex:1;
    position:relative;
    background:#f5f5f5;
    ul{
        li{
            padding:10px;
            background:#fff;
            margin-bottom:15px;
            p{
                height:30px;
                overflow:hidden;
                font-size:16px;
                span{
                    line-height:40px;
                    margin-left:20px;
                    font-size:14px;
                }
            }
            p:first-child{
                overflow:hidden;
                height:40px;
                img{
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    float:left;
                }
                span{
                    font-size:16px;
                    color:#000;
                }
            }
            p:nth-child(3){
                height:40px;
                line-height:40px;
            }
            p:nth-child(4){
                height:60px;
                img{
                    width:80px;
                    height:60px;
                    float:left;
                }
                &>p{
                    height:60px;
                    padding-left:20px;
                    position:relative;
                    span{
                        position:absolute;
                        bottom:0;
                        left:20px;
                        font-size:18px;
                        color:#000;
                    }
                }
            }
            
         
        }
    }
}