body,html{
    height:100%;
    width:100%;
    overflow:hidden;
}
#app{
    margin:0;padding:0;width:100%;height: 100%;
    #box{
        display:flex;
        flex-direction:row;
        height:100%;
        width:100%;
        #index{
            height:100%;
            width:100%;
            background:#eee;
            .IndexTop{
                overflow:hidden;
                .ant-breadcrumb{
                    width:600px;
                    float:left;
                }
                padding-left:10px;
                background:#45444A;
                height:50px;
                line-height:50px;
                .loginTop,.registerTop{
                    margin-top:12px;
                    margin-right:16px;
                    height:30px;
                    width:70px;
                    i{
                        color:#f60;
                    }
                    span{
                        color:#f60;
                        padding:0px;
                    }
                    float:right;
                }
                span{
                    color:#fff;
                }
                i{
                    color:#fff;
                }
            }
            .IndexMain{
                height:100%;
                width:100%;
                padding:50px;
                div{background:#F6ECE1;height:125px;width:270px;margin:30px 60px 0 0;border:2px solid #DADADA;float:left;padding:20px;
                span{float:left;position:relative;display:block;width: 86px;height: 86px;background:#47B49E;border-radius:50%;margin-right:24px;}
                i{font-size:42px;position:absolute;top:28px;left:28px;color:#fff;}
                h3{font-size:20px;font-family:"微软雅黑";}
                p{padding:10px;}
                &:hover{cursor:pointer;}
                }
                a{color:#444;}
            }
        }
    }
}